1.#sum of two numbers

In [ ]:
a=int(input("enter a number") )
b=int(input("enter a number"))
s=a+b
print(s)

enter a number10
enter a number15
25

2.#product of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
Q=a*b
print(Q)

enter a number4
enter a number5
20

3.#quotient and reminder of 2 numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
r=a/b
q=a%b
print(r)
print(q)

enter a number10
enter a number2
5.0
0

4.#length of a string

In [ ]:
a=input("enter a string")
len(a)

enter a stringrose

4

5#number of occurences of a character in a string

In [ ]:
a=input("enter a string")
count=a.count('u')
print(count)

enter a stringhouse
1

6.#convert a string to all upprcase

In [ ]:
s=input("enter a sring")
r=s.upper()
print(r)

enter a sringfgfgfgyugyt
FGFGFGYUGYT

7.#convert string into all lowercase

In [ ]:
f=s.lower()
print(f)

fgfgfgyugyt