1.#Area of rectangle

In [ ]:
height=int(input("enter the number"))
width=int (input("enter the number"))
a=height*width
print(a)

enter the number3
enter the number5
15

2.#sum, difference, product and quotient of two numbers

Sum of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
s=a+b
print(s)

enter a number10
enter a number2
12

Product of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
p=a*b
print(p)

enter a number3
enter a number5
15

Difference of two numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
p=a-b
print(p)

enter a number7
enter a number3
4

Quotient of 2 numbers

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
Q=a%b
print(Q)

enter a number10
enter a number2
0

3.#Convert temperature from Fahrenheit to celsius and vice versa

In [ ]:




fer=float(input("enter the number"))
cel=(fer-32)*5/9
print(cel)

enter the number100
37.77777777777778

In [ ]:
fer=float(input("enter the number"))
fer=(cel*9/5)+32
print(fer)

enter the number67
100.0

4.#Check a given number is positive, negative or zero

In [ ]:
number=int(input("enter the number"))
if(number>0) :
 print("number is positive")
elif(number<0) :
 print("number is negative")
else:
 print("number is zero")

enter the number10
number is positive

5.#Determine whether a year is a leap year

In [ ]:


y=int(input("enter the year"))
if(y/4==0) :
 print("it is a leap year")
elif(y/400==0) :
 print("it is  a leap year")
else:
 print("it is not a leap year")

enter the year2003
it is not a leap year

6.#grade according to mark

In [ ]:
mark=float(input("enter the mark"))
if(mark>=90) :
 print("A")
elif(mark>=80) :
 print("B")
elif(mark>=70) :
 print("C")
elif(mark>=60) :
 print("D")
elif(mark>=0) :
 print("F")
else:
 print(invalid)

enter the mark64
D

7.#print numbers from 10-1

In [ ]:
for n in range(10,0,-1):
 print(n)

10
9
8
7
6
5
4
3
2
1

8.#print all even numbers from 0-20

In [ ]:
for n in range(2,22,2):
 print(n)

2
4
6
8
10
12
14
16
18
20

9.#print multiplication table of a given number

In [ ]:


i=int(input("enter the number"))
for n in range(1,11) :
 print(n,'x',i,'=',n*i)

enter the number3
1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30